body {
    background-color: lightblue;
    font-family: sans-serif;
}
  
.heading {
    text-align: center;
    font-size: 50px;
    margin: 20px;
}
  
h3 {
    /* display: block; */
    text-align: center;
    padding: none;
} 
  
input {
    height: 100px;
    text-align: center;
}
  
#new {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
button {
    /* display: block; */
    margin: 10px;
}
  
#board {
    display: flex;
    flex-direction: row;
    border: solid 1px;
    margin: 10px;
    height: 100%;
    padding: 10px 0;
}
  
.block {
    width: 30%;
    justify-content: space-around;
    height: 500px;
    border: solid 1px;
    margin: auto
} 

.task {
    background-color: white;
    margin: 0.2rem 0.2rem 0.3rem 0.2rem;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    padding: 0.5rem 0.2rem 0.5rem 2rem;
    height: 40px;
}